{% include base_path %}

{% assign teaser = post.header.teaser | default: site.teaser %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="archive__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | prepend: "/images/" | prepend: base_path }}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.ads_link %}
        <a href="{{ post.ads_link }}" target="_blank">{{ title }}</a>
      {% elsif post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.collection == 'publications' %}
      <p><i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
    {% elsif post.date %}
      <p><i class="fa fa-calendar"></i> {{ post.date | date: "%B %d, %Y" }}</p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    {% endif %}
    
    {% if post.citation or post.paperurl or post.slidesurl %}
      <p>
        {% if post.citation %} <strong>Citation:</strong> {{ post.citation }} {% endif %}
        {% if post.paperurl %} | <a href="{{ post.paperurl }}">Download Paper</a> {% endif %}
        {% if post.slidesurl %} | <a href="{{ post.slidesurl }}">Download Slides</a> {% endif %}
      </p>
    {% endif %}
  </article>
</div>